.bar {
  position: relative;
  text-align: center;
  margin: .5em;
  padding: .2em;
}

.bar span {
  background: aqua;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border: 0px;
  border-radius: 5px;
  transition: width .5s ease-in-out;
}

.bar span.over-limit {
  background: red;
}
